In [2]:
#integers
x=1
print(x)
print(type(x))
x = 100000000000000000000000000000000000000000000000001
print(x)
print(type(x))

1
<class 'int'>
100000000000000000000000000000000000000000000000001
<class 'int'>

In [3]:
x = 9
y = 5.5

print(type(x))

print(x,y)
print(type(y))
print(float(x+y))
sum=x+y
print(int(sum))
print(sum)

<class 'int'>
9 5.5
<class 'float'>
14.5
14
14.5

In [4]:
name = (input('Please enter your name:'))
print(type(name))
print(name)
print('You have an unique name '+ name)

<class 'str'>
Kehinde
You have an unique name Kehinde

In [5]:
age = int(input('Plase enter your age: '))
print(age)
print(type(age))

22
<class 'int'>

In [6]:
# Floating Points 
exchange_rate = 1.83
print(exchange_rate)
print(type(exchange_rate))

1.83
<class 'float'>

In [7]:
# Converting to Floats
int_value = 1
string_value = '1.5'
float_value = float(int_value)
print('int value as a float:', float_value)
print(type(float_value))
float_value = float(string_value)
print('string value as a float:', float_value)
print(type(float_value))

int value as a float: 1.0
<class 'float'>
string value as a float: 1.5
<class 'float'>

In [8]:
# Converting an Input String into a Floating Point Number
exchange_rate = float(input('Please enter the exchange rate to use:'))
print(exchange_rate)
print(type(exchange_rate))

1.83
<class 'float'>

In [9]:
# Boolean value
all_ok = True
print(all_ok)
all_ok = False
print(all_ok)
print(type(all_ok))

True
False
<class 'bool'>

In [10]:
# Convert string into Boolean
status = bool(input('Ok to proceed:'))
print(status)
print(type(status))

False
<class 'bool'>

In [11]:
#Assignment
a=7
b=5
type(a)

int

In [12]:
age = 15
status = None
if (age >12) and age <20:
    status = 'teenager'
else:
    status = 'not teenager'
print (status)

teenager

In [13]:
# Nesting If Statement
snowing = True
temp = -7
if temp < 0:
    print('it is freezing')
    if snowing:
        print('Put on boots')
        print('Time for Hot chocolate')
print('Bye')

it is freezing
Put on boots
Time for Hot chocolate
Bye

In [14]:
# Nesting If Statement
snowing = False
temp = -7
if temp < 0:
    print('it is freezing')
    if snowing:
        print('Put on boots')
        print('Time for Hot chocolate')
print('Bye')

it is freezing
Bye

In [15]:
count = 0
print('starting')
while count <10:
    print(count, '', end='') #part of the while loop
    count += 1 #also past of the while loop
print('Done')

starting
0 1 2 3 4 5 6 7 8 9 Done

In [16]:
print('Print out values in a range')
for i in range(0,10):
    print(i,'',end='')
print('Done')

Print out values in a range
0 1 2 3 4 5 6 7 8 9 Done

In [17]:

#Break loop statements
print("Only print code if all iteraition completes")
num = int(input('Enter a number to check for: '))
for i in range(0,6):
    if i ==num:
        break
    print(i,'',end='')
print('Done')

Only print code if all iteraition completes
0 1 2 3 4 Done

In [18]:
#Continue loop Statements
for i in range(0,10):
    print(i,'\n')
    if i%2==1:
        continue
    print('hey its an even number')
    print('we love even numbers')
print('Done')

0

hey its an even number
we love even numbers
1

2

hey its an even number
we love even numbers
3

4

hey its an even number
we love even numbers
5

6

hey its an even number
we love even numbers
7

8

hey its an even number
we love even numbers
9

Done

In [19]:
#Creating a list
#apends insert another elemnt at the end of the list
#insert add an item at a certain position in this case position to add orange
fruits = ['orange','apple','pear','banana','kiwi','apple','banana']
fruits.append('kiwi')
fruits.insert(2,'orange')
fruits

['orange',
 'apple',
 'orange',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'kiwi']

In [20]:
fruits.remove('kiwi')
fruits

['orange', 'apple', 'orange', 'pear', 'banana', 'apple', 'banana', 'kiwi']

In [21]:
fruits.pop(3)
fruits

['orange', 'apple', 'orange', 'banana', 'apple', 'banana', 'kiwi']

In [22]:
fruits.reverse()
fruits

['kiwi', 'banana', 'apple', 'banana', 'orange', 'apple', 'orange']

In [23]:
#Dictionaries
tel = {'jack':4098, 'sape':4139}
tel

{'jack': 4098, 'sape': 4139}

In [24]:

tel['guido']=4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [25]:
tel['jack']
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [26]:
list(tel)

['jack', 'guido']

In [27]:

sorted(tel)

['guido', 'jack']

In [28]:

knight = {'gallahad':'the pure', 'robin':'the brave'}
for k, v in knight.items():
    print(k,v)

gallahad the pure
robin the brave

In [29]:
thisdict = {'brand': 'Ford', "electric":False, "year":1964, "colors": ['red','white','blue']}
thisdict['brand']

'Ford'

In [30]:
thisdict['electric']

False

In [31]:
thisdict['colors'][2]

'blue'