In [1]:
import numpy as np

In [12]:
# Create a program that, when executed, shows us the number of even {2,4,6} numbers obtained in 10,000 dice rol.
# Define an array with all possible outcomes
possible_outcomes = [1,2,3,4,5,6]

#Define the counter of the times an even number was obtained.
number_of_even = 0

# Define the number of execution on your simulation.
number_of_execution = 10000

# wanted outcomes
wanted_outcomes = [2,4,6]

In [3]:

# We will write an iteration for dice rolling
for i in range(number_of_execution):
    x = np.random.choice(possible_outcomes)
    if( x in wanted_outcomes):
       number_of_even += 1

In [4]:

# Computing the probability
probability_of_even = number_of_even/number_of_execution

#printing the probability
print("{0:d} of the outcomes were even, we had a probability of around {1:.2f}".format(number_of_even,probability_of_even))

4997 of the outcomes were even, we had a probability of around 0.50

In [5]:
# Computing the complement 
complement_of_even = 1 - probability_of_even
print("The complement of the given event is {0:.2f}".format(complement_of_even))

The complement of the given event is 0.50

In [6]:
# Given a list of student, find the probability a student gets an A (80%+) in math, given they miss 10 or more classes.
import pandas as pd

df = pd.read_csv("C:/Users/kenny/Downloads/Documents/REU-DataScienceProgram/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [7]:

#Check the number of records
len(df)

395

In [8]:
#For our problem we need only the columns of absents and final grade G3 (0-20). Lets rescale the grade from 0 to 100 and rewrite the column
df['grade_A'] = np.where(df['G3']*5>=80, 1 , 0)
df['high_absences'] = np.where(df['absences']>=10, 1 ,0)

In [9]:
# Add one more column for our pivot table, adn drop the columns we do not need
df['count'] = 1
df = df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [10]:

table = pd.pivot_table(df, values='count', index=['grade_A'], columns=['high_absences'], aggfunc=np.size, fill_value=0)
table

high_absences    0   1
grade_A
0              277  78
1               35   5

In [11]:
# Computing the probablity a student get an A (80%+) in math, given they miss 10 or more classes. P(A)= is the probability of a grade of 80% or grather. P(B)=is the probablity of missing 10 or more classes. P(A|B)= is the probability of a 80% grade, given missing 10 or more classes.

p_a = (table.values[1,0]+table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])
p_b = (table.values[0,1]+table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])
p_a_and_p_b = table.values[1,1]/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])
probability = p_a_and_p_b/p_b
print(p_a, p_b, p_a_and_p_b)
print("The probability a student get an A in math, given they miss 10 or more classes is",probability)

0.10126582278481013 0.21012658227848102 0.012658227848101266
The probability a student get an A in math, given they miss 10 or more classes is 0.060240963855421686